<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div>
        <h1>Register Form</h1>
        
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
        <form action="/register" method="post">
            {% csrf_token %}
            Name: <input type="text" name="name">
            <br>
            Alias: <input type="text" name="alias">
            <br>
            Email: <input type="email" name="email">
            <br>
            Password: <input type="password" name="password">
            <br>
            Password Confirmation: <input type="password" name="confirm">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>


    <div>
        <h1>Login</h1>
        <form action="/login" method="post">
            {% csrf_token %}
            Email: <input type="text" name="email">
            <br>
            Password: <input type="password" name="password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>